h1 {
  color: black;
  text-align: center;
}

p {
  font-family: "Times New Roman";
  font-size: 15px;
}

<h1>Emphemera</h1>


.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: white;
}

.navbar .navbar-default {
  border-radius: 0px;
}

body {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif!important;
}

#canvas {
  border: 15px solid grey;
}


.jumbotron {
  background: rgba(255, 255, 255, 0.5);
}


.panel-body > * {
  padding-top: 2px;
  padding-bottom: 2px;
}

.panel-body label {
  margin-bottom: 0px;
}

.panel-body button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.flight {
  display: inline;
  text-align: center;
  font-style: italic;
}

.airport {
  display: inline;
  text-align: center;
  color: red;
}

.tripCity {
  text-align: center;
}

.tripLength {
  text-align: center;
}

.tripCost {
  text-align: center;
}

.moreInfoButton {
  width: 100%;
}

li.slidesjs-pagination-item {
  display: inline;
}
